= render '/users/lead'

= link_to "Se connecter avec facebook", user_omniauth_authorize_path(:facebook), class: 'btn btn-block btn-large btn-primary'
%br
= link_to "Cliquez ici si vous n'avez pas de compte facebook", new_user_registration_path, class: 'btn btn-small btn-block'
