.well.well-small
  %h2 Position dans le train
  = simple_form_for @issue, url: next_wizard_path do |f|
    = f.input :in_train, as: :radio, label: false, collection: ['Tête de convoi', 'Milieu de convoi', 'Queue de convoi']
    = f.input :bottom_or_top, as: :radio, label: false, collection: ['Salle haute', 'Salle basse', 'Plateforme']
    .control-group
      .controls
        = f.button :submit, 'Signaler!', class: 'btn btn-large btn-primary btn-block span12'
