%h2 Je suis..

= link_to '... dans un train', next_wizard_path(where: 'train'), class: 'btn btn-block'
= link_to '... dans une gare', next_wizard_path(where: 'gare'), class: 'btn btn-block'
= link_to '... à proximité des voies', next_wizard_path(where: 'voies'), class: 'btn btn-block'
